.question_container {
    width: 50%;
    background-color: hsl(206, 26%, 95%);
    position: relative;
    padding: 50px 50px 100px 50px;
    display: flex;
    justify-content: center;
    align-items: center;

    .box {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;

        span {
            color: green;
            font-weight: 700;
            position: absolute;
            top: 30px;
            right: 30px;
        }

        p {
            font-size: 40px;
            font-weight: 650;
            text-align: center;
        }

        .answer {
            width: 100%;
            display: flex;
            justify-content: center;

            button {
                margin-bottom: 10px;
                padding: 10px 0;
                width: 60%;
                color: black;
                background-color: rgb(91, 203, 255);
                border: none;
                border-radius: 3px;
                cursor: pointer;

                &:hover {
                    background-color: rgb(152, 150, 250);
                    color: white;
                }
            }

        }

        .next {
            position: absolute;
            bottom: 30px;
            right: 30px;
            padding: 10px;
            width: 30%;
            color: black;
            background-color: rgb(255, 145, 0);
            border: none;
            border-radius: 3px;
            cursor: pointer;

            &:hover {
                background-color: rgb(241, 138, 3);
                color: white;
            }
        }
    }


    .end_box {
        position: fixed;
        width: 100vw;
        height: 100vh;
        background-color: rgba(0, 0, 0, 0.5);


        .end_content {
            position: fixed;
            top: 50%;
            left: 50%;
            z-index: 100;
            width: 25%;
            transform: translate(-50%, -50%);
            background-color: #fff;
            color: black;
            padding: 30px;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            border-radius: 5px;
            h1{
                margin: 10px;
            }
            p{
                font-size: 20px;
            }
            button {
                padding: 10px;
                width: 80%;
                color: black;
                background-color: rgb(255, 145, 0);
                border: none;
                border-radius: 3px;
                cursor: pointer;
    
                &:hover {
                    background-color: rgb(241, 138, 3);
                    color: white;
                }
            }
        }
    }



}